.layout-container{
    position: relative;
    height: 100vh;
    width: 100vw;
}
.sidebar-container{
    position: absolute;
    top: 10vh;
}
.navbar-container{
    position: absolute;
    top: 0;
}
.content-container{
    position: absolute;
    top: 10vh;
    left: 15vw;
}